---
http_interactions:
- request:
    method: get
    uri: http://db.basketball.nl/db/json/club.pl?date=2015-12-28%2018:30:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"last_change":"2015-12-28 18:30:03","version":"1.3","clubs":[{"adres":"Postbus
        424","shirt":"Groen","plaats":"Maassluis","web":"http://www.greeneagles.nl/v2/","org_id":"2","id":"51","naam":"Green
        Eagles","postcode":"3140AK","vestpl":"Maassluis","nr":"2142"}]}'
  recorded_at: Mon, 28 Dec 2015 22:23:56 GMT
recorded_with: VCR 3.0.1
