---
http_interactions:
- request:
    method: get
    uri: http://db.basketball.nl/db/json/club.pl?org_id=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"last_change":"2015-12-22 11:16:27","version":"1.3","clubs":[{"adres":"Ouderkerkerdijk
        150","shirt":"Rood","plaats":"Amsterdam","web":"http://www.apgs-amsterdam.nl/","org_id":"6","id":"372","naam":"A.P.G.S.","postcode":"1096CR","vestpl":"Amsterdam","nr":"4112"},{"adres":"Pieter
        Calandlaan 182","shirt":"onbekend","plaats":"Amsterdam","web":"","org_id":"6","id":"981","naam":"AAC-Caland","postcode":"1068NT","vestpl":"Amsterdam","nr":"4212"},{"adres":"Bisschop
        Bottemannestraat 36","shirt":"Zwart","plaats":"Alkmaar","web":"http://www.alkmaarguardians.nl/","org_id":"6","id":"367","naam":"Alkm.Guardians","postcode":"1817ED","vestpl":"Alkmaar","nr":"4106"},{"adres":"larixlaan
        40","shirt":"Bordeauxrood","plaats":"zwanenburg","web[...]
