---
http_interactions:
- request:
    method: get
    uri: http://db.basketball.nl/db/json/competities.pl?date=2015-12-27%2018:00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"competities":[{"org_id":"2","id":"847","gewijzigd":"2015-12-28 18:33:21","naam":"West
        Dames Senioren 3e klasse A","nr":"WDS3A"},{"org_id":"2","id":"848","gewijzigd":"2015-12-28
        18:33:21","naam":"West Dames Senioren 3e klasse C","nr":"WDS3C"},{"org_id":"2","id":"2975","gewijzigd":"2015-12-28
        18:33:21","naam":"West Heren Under 20 3e kl. B   2de helft","nr":"WH03B"},{"org_id":"2","id":"815","gewijzigd":"2015-12-28
        18:33:21","naam":"WEST Heren Senioren 2e klasse A","nr":"WHS2A"},{"org_id":"2","id":"833","gewijzigd":"2015-12-28
        18:33:21","naam":"WEST Heren Senioren 3e klasse A","nr":"W[...]
