---
http_interactions:
- request:
    method: get
    uri: http://db.basketball.nl/db/json/competities.pl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"competities":[{"org_id":"5","id":"644","gewijzigd":"2015-12-20 16:36:34","naam":"Nrd
        Mannen U14 1","nr":"NM14-1"},{"org_id":"5","id":"1700","gewijzigd":"2015-12-19
        23:06:29","naam":"Nrd Mannen U14 2","nr":"NM14-2"},{"org_id":"5","id":"2710","gewijzigd":"2015-12-20
        14:14:10","naam":"Nrd Mannen U14 3A","nr":"NM143A"},{"org_id":"5","id":"2711","gewijzigd":"2015-12-21
        18:34:34","naam":"Nrd Mannen U14 3B","nr":"NM143B"},{"org_id":"5","id":"653","gewijzigd":"2015-12-20
        22:14:54","naam":"Nrd Mannen U16 1","nr":"NM16-1"},{"org_id":"5","id":"654","gewijzigd":"2015-12-20
    [...]
