---
http_interactions:
- request:
    method: get
    uri: http://db.basketball.nl/db/json/locatie.pl?date=2015-12-27%2018:00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"last_change":"2016-12-09 18:30:06","version":"1.1","locaties":[{"lat":"51.2667597","adres":"Halewijnstraat
        2","plaats":"Axel","org_id":"4","telefoon":"","id":"128","lon":"3.9102786","naam":"''t
        Sportuus","postcode":"4571 DA","nr":"AXLSP"},{"lat":"52.3018040","adres":"''t
        Wooldrik 1","plaats":"Borne","org_id":"3","telefoon":"074-2663096","id":"310","lon":"6.7499394","naam":"''t
        Wooldrik","postcode":"7621 AH","nr":"BNEWO"},{"lat":"52.0322376","adres":"Ronde
        Erf 24","plaats":"Veenendaal","org_id":"3","telefoon":"0318-510926","id":"313","lon":"5.5688343","naam":"Aller
        Erf","postcode":"3902 CZ","nr":"VNDAL"},{"lat":"52.2004930","adres":"Stadhoudersdreef
        1","plaats":"Katwijk","org_id":"2[...]
