---
http_interactions:
- request:
    method: get
    uri: http://db.basketball.nl/db/json/wedstrijd.pl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nummer":"","aantal_wedstrijden":110,"version":"1.4","gewijzigd":"","id":"","wedstrijden":[{"loc_id":"1143","thuis_club_id":"409","cmp_id":"427","uit_ploeg_id":"1962","id":"696021","nr":"EH","cmp_nr":"LHS1DA","score_uit":"56","stats":"0","score_thuis":"71","org_id":"1","thuis_ploeg_id":"3129","uit_club_id":"153","thuis_ploeg":"BV
        Hoofddorp HS 1","uit_ploeg":"Martho Flexwerk G.S. Stars HS 1","datum":"2015-09-18
        21:00:00.000"},{"loc_id":"884","thuis_club_id":"347","cmp_id":"427","uit_ploeg_id":"36","id":"696020","nr":"DI","cmp_nr":"LHS1DA","score_uit":"80","stats":"0","score_thuis":"87","org_id":"1","thuis_ploeg_id":"6401","uit_club_id":"34","thuis_ploeg":"BV
        Groningen HS 1","uit_ploeg":"Almere Pioneers HS 1","datum":"2015-09-19 18:45:00.000"},{"loc_id":"821","thuis_club_id":"366","cmp_id":"427","uit_ploeg_id":"2139","id":"696019","nr":"LA","cmp_nr":"LHS1DA","score_uit":"52",[...]
- request:
    method: get
    uri: http://db.basketball.nl/db/json/wedstrijd.pl?cmp_ID=2530
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nummer":"NMS-3B","aantal_wedstrijden":133,"version":"1.4","gewijzigd":"2016-01-24
        14:15:59","id":"2530","wedstrijden":[{"loc_id":"768","thuis_club_id":"326","cmp_id":"25[...]
- request:
    method: get
    uri: http://db.basketball.nl/db/json/wedstrijd.pl?clb_ID=356
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nummer":"","aantal_wedstrijden":585,"version":"1.4","gewijzigd":"","id":"","wedstrijden":[{"loc_id":"768","thuis_club_id":"356","cmp_id":"2820","uit_ploeg_id":"3703","id":"694242[...]
- request:
    method: get
    uri: http://db.basketball.nl/db/json/wedstrijd.pl?clb_ID=356&date=2016-01-01%2000:00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nummer":"","aantal_wedstrijden":90,"version":"1.4","gewijzigd":"","id":"","wedstrijden":[{"loc_id":"768","thuis_club_id":"356","cmp_id":"2386","uit_plo[...]
- request:
    method: get
    uri: http://db.basketball.nl/db/json/wedstrijd.pl?loc_ID=768
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nummer":"","aantal_wedstrijden":407,"version":"1.4","gewijzigd":"","id":"","wedstrijden":[{"loc_id":"768","thuis_club_id":"356","cmp_id":"2386","uit_ploeg_id":"11917","id":"72342[...]
- request:
    method: get
    uri: http://db.basketball.nl/db/json/wedstrijd.pl?plg_ID=3746
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nummer":"","aantal_wedstrijden":22,"version":"1.4","gewijzigd":"","id":"","wedstrijden":[{"loc_id":"768","thuis_club_id":"356","cmp_id":"2530","uit_ploeg_id":"6396","id":"699973[...]
- request:
    method: get
    uri: http://db.basketball.nl/db/json/wedstrijd.pl?wed_ID=700068
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nummer":"","aantal_wedstrijden":1,"version":"1.4","gewijzigd":"","id":"","wedstrijden":[{"loc_id":"768","thuis_club_id":"356","cmp_id":"2530","uit_ploeg_id":"3769","id":"700068","nr":"LE","cmp_nr":"NMS-3B","score_uit":"0","stats":"0","score_thuis":"0","org_id":"5","thuis_ploeg_id":"3746","uit_club_id":"343","thuis_ploeg":"Celeritas-Donar
        HS 5","uit_ploeg":"GSBV Moestasj HS 3","datum":"2016-04-09 00:00:00.000"}],"naam":"Onbekende
        competitie","seizoen":"2015-2016"}'
  recorded_at: Tue, 26 Jan 2016 15:34:57 GMT
recorded_with: VCR 3.0.1
