---
http_interactions:
- request:
    method: get
    uri: http://db.basketball.nl/db/json/stand.pl?cmp_ID=2530
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"stand":[{"afko":"Jumping Five HS 2","ID":"3676","status":"Actief","rang":"1","gespeeld":"15","percentage":"86.7","tegenscore":"593","punten":"26","eigenscore":"963","datum":"2016-01-10","team":"Jumping
        Five Heren 2","saldo":370,"positie":"1"},{"afko":"BV Jahn II HS 2","ID":"3669","status":"Actief","rang":"2","gespeeld":"12","percentage":"91.7","tegenscore":"527","punten":"22","eigenscore":"898","datum":"2016-01-10","team":"BV
        Jahn II Heren 2","saldo":371,"positie":"2"},{"afko":"Celeritas-Donar HS 5","ID":"3746","status":"Actief","rang":"3","gespeeld":"12","percentage":"66.7","tegenscore":"604","punten":"16","eigenscore":"698","datum":"2016-01-30","team":"Celeritas-Donar
        Heren 5","saldo":94,"positie":"3"},{"afko":[...]
