---
http_interactions:
- request:
    method: get
    uri: http://db.basketball.nl/db/json/team.pl?clb_ID=356
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"last_change":"2015-12-27 18:34:14","teams":[{"id":"3587","comp_id":"2531","naam":"Dames
        1","club_id":"356"},{"id":"9298","comp_id":"2386","naam":"Dames U20 1","club_id":"356"},{"id":"10357","comp_id":"2829","naam":"Dames
        U22 1","club_id":"356"},{"id":"3145","comp_id":"2820","naam":"Heren 1","club_id":"356"},{"id":"3391","comp_id":"2526","naam":"Heren
        2","club_id":"356"},{"id":"3686","comp_id":"2528","naam":"Heren 3","club_id":"356"},{"id":"3687","comp_id":"2527","naam":"Heren
        4","club_id":"356"},{"id":"3746","comp_id":"2530","naam":"Heren 5","club_id":"356"},{"id":"8885"[...]
